<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>727178559102-tt0eo2lesce4lsqvj8js9ie5d8jdj004.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.727178559102-tt0eo2lesce4lsqvj8js9ie5d8jdj004</string>
	<key>API_KEY</key>
	<string>AIzaSyAVx35FrfYDkIglGUKupzgxQTjglc2f23U</string>
	<key>GCM_SENDER_ID</key>
	<string>727178559102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todo</string>
	<key>PROJECT_ID</key>
	<string>to-do-app-2db06</string>
	<key>STORAGE_BUCKET</key>
	<string>to-do-app-2db06.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:727178559102:ios:12ae02360922a98d9e222f</string>
</dict>
</plist>